
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutGallery.cshtml";
}

<div class="container mt-5">
    <div class="row mt-5 mb-3">
        <div class="col-md-12 text-center mt-5 pt-5">
            <h1>Contact us</h1>
        </div>
    </div>
    @Html.Partial("_PartialContact")
</div>
