@{
    ViewBag.Title = "Home Page";
}

<div class="row mt-5 mb-5">
    <div class="col-md-12">
        <p style="color:gray">
            <span style="font-weight:bold; color:white !important;">Mohammad Mousavi</span> is the first Iranian Fashion and Philosophy art photographer.
            Mohammad was born in February 3rd 1982. He is graduated from art university in Tehran with masters degree of graphic design.
        </p>
        <p style="color:gray">
            Mohammad started photography since childhood and became one of the renowned fashion photo and videography from 2005.
        </p>
        <p style="color:gray">
            He was one of the pioneers of fashion photography in Iran who discovered and trained many models and promoted their careers as professional models.
        </p>
        <p style="color:gray">
            In addition Mohammad have great length of experience in directing across multiple genres such as,
            Fashion Videos, Reality Shows and Music Videos alongside his photography.
        </p>
    </div>
</div>